/* 
.ant-layout .ant-layout-sider{
    background:none !important;
} */
.menueClass{
    border-bottom: 1px solid #AAA7A7;
    cursor: pointer;
}
 .r6KV0yEdmnh3Op {display: flex;
align-items: center;
justify-content: center;
width: 20%;
height: 100%;
margin-top: 9px;
border-radius: 8px;
padding: 5px;
color:  rgb(82, 67, 170) !important;
/* color: var(--ds-text-inverse, #ffffff); */
font-size: 20px;
font-weight: bold;}
.BVceZHOoUszsgw{
    background: #DEEBFF !important; 
    /* background: linear-gradient(var(--ds-background-accent-green-bolder, #006644), var(--ds-background-accent-green-subtle, #00875a));  */
}
.text-class{
    font-size: 13px;
    justify-content:space-between ;
    width: 100%;
}
.styleButton:hover{
    background-color: #A6C5E229;
    cursor: pointer;
}
/* .borderClass{
    border: 1px solid #AAA7A7;

} */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BC6F94;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #BC6F94; 
}
.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  color: white !important; /* Set text color to white */
}
.custom-menu .ant-menu-item,
.custom-menu :hover {
  color: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) !important; /* Set text color to white */
  /* background-color: white !important ; */
}
  
.custom-menu .ant-menu-item,
.custom-menu{
  color: white !important; /* Set text color to white */
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) !important;
}
  
.ant-layout-content{
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) !important;
}
.ant-popover-inner{
    /* background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) !important; */
    color: black;
}
.controlHoverEffect :hover{
    background-color: white !important;
    color:black !important ;
    border-radius: 5px !important;
    padding: 2px !important;
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) !important;

}
.exapmle{
    color: #A6C5E229;
}